:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff; /* Nền trắng */
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-card {
  background: white;
  padding: 2rem;
  border-radius: 16px; /* Bo tròn góc */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng */
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.form-title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #ff8c00; /* Màu cam cho tiêu đề */
  font-weight: bold;
}

.input-field {
  width: 100%;
  margin-bottom: 1.5rem;
}

.mat-form-field {
  width: 100%;
}

.form-button {
  width: 100%;
  padding: 0.8rem;
  border-radius: 24px; /* Bo tròn góc cho nút */
  background: linear-gradient(to right, #ffa726, #ff7043); /* Gradient cam */
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.2s;
  border: none;
  cursor: pointer;
}

  .form-button:hover {
    background: linear-gradient(to right, #ff7043, #ffa726); /* Gradient ngược khi hover */
    transform: scale(1.05); /* Phóng to nhẹ */
  }

.form-links {
  margin-top: 1rem;
  font-size: 0.9rem;
}

  .form-links a {
    color: #ff8c00;
    text-decoration: none;
    font-weight: bold;
  }

    .form-links a:hover {
      text-decoration: underline;
    }
